#add{
    margin-top: 11px;
    margin-left: 615px;
    background-color: #1890FF;
    height: 30px;
    width: 75px;
    /* background-color: #5cb85c; */
    color: white;
    border: none;
    outline: none;
}

#addBlock
{
    width: 420px;
    height: 400px;
    display: none;
    position: absolute;
    top: 20%;
    left: 37%;
    background-color: rgb(248,248,248);
    border-radius: 5px ;
    z-index:2;
}
#addHeader
{
    color: white;
    font-family: 黑体;
    font-weight: bold;
    height: 30px;
    padding-left: 109px;
    padding-top: 8px;
    margin: 0 34px;
}
/*新增框架主体*/
#addMain
{
    height: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadee1;
}
#addMain table
{
    width: 400px;
}
#addMain tr
{
    height: 40px;
}
.addTableTd1
{
    padding-left: 15px;
    width: 120px;
    text-align: right;
}
.addTableTd2
{
    padding-left: 20px;
    width: 250px;
    text-align: left;
}
.addTableTd2 input
{
    width: 150px;
}
#tiqu{
    margin: 8px 128px;
}
#submit     /*提交*/
{
    height: 30px;
    width: 75px;
    background-color: #1890FF;
    color: black;
    border: 1px solid #dadee1;
}

/* book */
#add1{
    margin-top: 11px;
    margin-left: 615px;
    height: 30px;
    width: 75px;
    background-color: #1890FF;
    color: white;
    border: none;
    outline: none;
}

#addBook
{
    width: 420px;
    height: 400px;
    display: none;
    position: absolute;
    top: 20%;
    left: 37%;
    background-color:rgb(248, 248, 248);
    border-radius: 5px ;
    z-index:2;
}
#addHeader
{
    color: black;
    font-family: 黑体;
    font-weight: bold;
    height: 30px;
    padding-left: 109px;
    padding-top: 8px;
    margin: 0 34px;
}
/*新增框架主体*/
#addMain
{
    height: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadee1;
}
#addMain table
{
    width: 400px;
}
#addMain tr
{
    height: 40px;
}
.addTableTd1
{
    padding-left: 15px;
    width: 120px;
    text-align: right;
}
.addTableTd2
{
    padding-left: 20px;
    width: 250px;
    text-align: left;
}
.addTableTd2 input
{
    width: 150px;
}
#tiqu2{
    margin: 8px 128px;
}
#submit2{
    height: 30px;
    width: 75px;
    background-color: #1890FF;
    color: black;
    border: 1px solid #dadee1;
}
#addCancel2{
    height: 30px;
    width: 75px;
    background-color: white;
    color: black;
    border: 1px solid #dadee1;
    margin-left: 5px;
}