#search{
    width: 620px;
    height: 400px;
    display: none;
    position: absolute;
    color: black;
    top: 15%;
    left: 30%;
    background-color:rgb(248, 248, 248);
    border-radius: 5px;
    z-index:2;
    border: 1px solid black;
}
#searchheader{
    margin-left: 255px;
}
#searchmain{
    width: 595px;
    height: 330px;
    border: 1px solid black;
    margin:0px 9px;
}
#etx{
    margin: 6px 563px;
    height: 29px;
    width: 43px;
    background-color: #1890ff;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

/* book */
#searchbook{
    width: 620px;
    height: 400px;
    display: none;
    position: absolute;
    color: black;
    top: 15%;
    left: 30%;
    background-color:white;
    border-radius: 5px;
    z-index:2;
    border: 1px solid black;
}
#searchheader{
    margin-left: 255px;
}
#searchmain{
    width: 595px;
    height: 330px;
    border: 1px solid black;
    margin:0px 9px;
}
#etxh{
    margin: 6px 563px;
    height: 29px;
    width: 43px;
    background-color: #1890ff;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}