#updateBlock
{
    width: 420px;
    height: 400px;
    display: none;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: rgb(248,248,248);
    border-radius: 5px;
    z-index:2;
}
#updateHeader
{
    background-color: black;
    color: white;
    font-family: 黑体;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
}
#updateMain
{
    height: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadee1;
}
#updateMain table
{
    width: 400px;
}
#updateMain tr
{
    height: 40px;
}
.updateTableTd1
{
    padding-left: 15px;
    width: 120px;
    text-align: right;
}
.updateTableTd2
{
    padding-left: 20px;
    width: 250px;
    text-align: left;
}
.updateTableTd2 input
{
    width: 150px;
}
#xiugai{
    width: 80px;
    border: 1px solid black;
}


#updateBk
{
    width: 420px;
    height: 421px;
    display: none;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: rgb(248,248,248);
    border-radius: 5px;
    z-index:2;
}
#tiqu3{
    margin: 31px 128px;
}