/*查看框架*/
#sousuoBlock
{
    width: 420px;
    height: 400px;
    display: none;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: white;
    border-radius: 5px;
    z-index:2;
    /*overflow: auto;*/
}

/*新增框架头*/
#sousuoHeader
{
    background-color: #1890FF;
    color: white;
    font-family: 黑体;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
}
/*新增框架主体*/
#sousuoMain
{
    height: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadee1;
}
#sousuoMain table
{
    width: 400px;
}
#sousuoMain tr
{
    height: 40px;
}
.sousuoTableTd1
{
    padding-left: 15px;
    width: 120px;
    text-align: right;
}
.sousuoTableTd2
{
    padding-left: 20px;
    width: 250px;
    text-align: left;
}
#sousuoCancel
{
    color: #545454;
    width: 75px;
    height: 30px;
    background-color:white;
    border: 1px solid #a9a9a9;
}